<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Carta de Recomendação</title>
</head>
<body>
    <h1>Bem vindo ao Membro celestial</h1>
    <br>
    <h1>Carta de Recomendação</h1>

    <p><strong>Nome:</strong> {{nome}}</p>
    <p><strong>Data de Nascimento:</strong> {{nascimento}}</p>
    <p><strong>Endereço:</strong> {{endereco}}, {{bairro}}</p>
    <p><strong>Filiação:</strong> {{filiacao}}</p>
    <p><strong>Estado Civil:</strong> {{estadocivil}}</p>
    <p><strong>CPF:</strong> {{cpf}}</p>
    <p><strong>Área:</strong> {{area}}</p>
    <p><strong>Congregação:</strong> {{congregacao}}</p>
    <p><strong>Dirigente:</strong> {{dirigente}}</p>
    <p><strong>Convenção:</strong> {{convencao}}</p>
    <p><strong>Função:</strong> {{funcao}}</p>
    <p><strong>Discipulado:</strong> {{discipulado}}</p>
    <p><strong>Data de Batismo:</strong> {{batismo}}</p>
</body>
</html>
